
footer {
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #0092c6;//#343a40;//#f5f5f5;
}

section {
	margin-bottom: 40px;
}

body {
	background: #f5f5f5;
}

.card-header{
	background-color: #0092c6;
}

.navbar-custom {
    background-color: #0092c6;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}